#timeline .line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

#timeline .area {
    /*fill: #969696;*/
    fill: #CC6600;
}

#timeline .attention {
    background: yellow;
    margin: -4px;
    padding: 4px;
}

.barChart .x.axis path {
    display: none;
}

#gates .x.axis text {
    text-anchor: end;
}

.x.label {
    fill: black;
    font-weight: normal;
    font-size: 12px;
}

.y.label {
    fill: black;
    font-weight: normal;
    font-size: 12px;
}

#gates svg {
    overflow: visible;
}
